.breadcrumbs {
   
    width: 100%;
     margin: 5px auto;
   
   }
   
   .breadcrumbs > * {
     display: inline-block;
     margin-right: 0px;
   
     margin-left: 30px;
 
     
   }
   
   .breadcrumbs .crumbs::after {
     content: ' > '; 
     margin-left: 10px;
   
   }
   
   .breadcrumbs .crumbs:last-child::after {
     content: ''; 
     margin-left: 0px;
     background-color: brown;
   }
   
   .breadcrumbs .crumbs a {
     color: var(--Text-Heading-Dark, #27272E);
     font-family: Inter;
     font-size: 18px;
     font-style: normal;
     font-weight: 500;
     line-height: 136.023%; 
     
    color: #393280;
   }
   